* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.SnackbarItem-variantSuccess {
    background-color: #10B981 !important;
}

.SnackbarItem-variantError {
    background-color: #EF4444 !important;
}